* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    position: relative;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 60fr 40fr;
}

.logo {
    position: absolute;
    top: 12%;
    left: 9%;
}

/* Grid 1st coloumn styling */
.grid-1-col {
    padding: 7rem 12rem;
    background: url(images/bg-pattern-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin-top: 8rem;
}

.head-style {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-transform: uppercase;
}

.head-style> :first-child {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

.para-content {
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    margin: 2rem 0;
    word-spacing: 0.2rem;
    font-size: 1.8rem;
}

.email {
    width: 62%;
    padding: 1.4rem 2rem;
    border-radius: 3rem;
    border: 1px solid hsl(0, 36%, 70%);
}

input[type="email"]::placeholder {
    color: hsl(0, 36%, 70%);
}

button {
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 1rem 3rem;
    border-radius: 3rem;
    cursor: pointer;
    position: absolute;
    left: 58%;
}

.input-flex {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0.8rem;
}

.error {
    transform: translateX(-100px);
}

.retry p {
    color: hsl(0, 93%, 68%);
    font-size: 1.3rem;
    font-weight: 400;
    transform: translateX(18px);
}

/* Grid 2nd column Styling */
.hero-image {
    width: 100%;
    height: 100vh;
}

.hidden {
    display: none;
}

/* Media in 1440px */
@media (max-width :90em) {
    .content {
        margin-top: 10rem;
    }
    .grid-1-col {
        padding: 6rem 12rem 0;
    }

    .head-style {
        font-size: 6rem;
    }

    .para-content {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .email {
        width: 70%;
    }
}

@media (max-width: 27em){
    .container {
        margin-top: 7rem;
    }
    .logo {
        top: -7%;
        left: 5%;
        width: 120px;
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 30fr 55fr;
        text-align: center;
    }
    
    .grid-2-col {
        grid-row: 1;
        background: url(images/hero-mobile.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
    }

    .hero-image {
        height: 30vh;
    }

    .grid-1-col {
        padding: 0 3rem 0;
    }

    .content {
        margin-top: 2rem;
    }

    .head-style {
        font-size: 4rem;
    }
    
    .para-content {
        font-size: 1.6rem;
    }

    .email {
        width: 90%;
    }

    button {
        left: 80%;
    }
    .retry {
        text-align: left;
    }
    .error {
        transform: translateX(-70px);
    }
}

